// Partial imports
@import "base/normalize";

//--- Base ---/

* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  text-align: center;
}

ul {
  list-style: none;
  text-decoration: none;
  background: red;
}

li {
  display: block;
  list-style: none;
  text-decoration: none;
  text-align: center;
}
