// === Mixins ===

// --- general mixins
@mixin button {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: none;
  padding: 1em 0;
  margin: 0.625em 0; //10px
  font-family: $times;
}

@mixin grid {
  text-align: left;
  border-radius: 5px;
  border-style: none;
  padding: 1em 1em;
  margin: 6px 0;
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  font-family: $courier;
}

// ---flex box

@mixin flex-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//  --- media queries
@mixin media-q {
  @media (min-width: 769px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@mixin media-grid {
  @media (min-width: 769px) {
    text-align: center;
    margin: 1.125em 5px;
  }
}

@mixin media-button {
  @media (min-width: 769px) {
    text-align: center;
    margin: 1.125em 1.5em;
    width: 10em;
    flex: 1;
  }
}
