// === Forms ===

@import "../utilities/index";

// --- forms ---
.form {
  @include flex-mobile;
  .form__label--hidden {
    visibility: hidden;
  }
  .form__input {
    background-color: white;
    color: black;
    font-weight: bold;
    border-style: none;
    border-bottom: 7px solid $first-multi;
    padding: 8px 16px;
    margin: 5px 20px;
  }
  [value="Login"] {
    background-color: $second-multi;
    color: white;
    border-style: none;
    border-radius: 7px;
    padding: 16px;
    margin: 20px 0;
  }
}
