// === Grid ===

@import "../utilities/index";

@mixin grid {
  text-align: left;
  border-radius: 5px;
  border-style: none;
  padding: 1em 1em;
  margin: 6px 0;
  font-size: 14px;
  font-weight: 500;
  flex-grow: 1;
}

//  --- grid System

.grid__row {
  @include flex-mobile;
  margin: 1.125em 0;
  [class="grid__col--12 theme__colors"] {
    background: $col-12;
    @include grid;
  }
  [class="grid__col--6 theme__colors"] {
    background: $col-6;
    @include grid;
    @include media-grid;
  }
  [class="grid__col--4 theme__colors"] {
    background: $col-4;
    @include grid;
    @include media-grid;
  }
  [class="grid__col--3 theme__colors"] {
    background: $col-3;
    @include grid;
    @include media-grid;
  }
  [class="grid__col--5 theme__colors"] {
    background: $col-5;
    @include grid;
    @include media-grid;
  }
  [class="grid__col--7 theme__colors"] {
    background: $col-7;
    @include grid;
    @media (min-width: 769px) {
      text-align: center;
      margin: 1.125em 5px;
      padding-left: 20%;
    }
  }
  [class="grid__col--8 theme__colors"] {
    background: $col-8;
    @include grid;
    @media (min-width: 769px) {
      text-align: center;
      margin: 1.125em 5px;
      padding-right: 30%;
    }
  }
  [class="grid__col--7 theme__colors centered"] {
    background: $col-7;
    @include grid;
    @media (min-width: 769px) {
      text-align: center;
      margin: 0 20%;
    }
  }
  @include media-q;
}
