// === Grid ===
@import "../utilities/index";

//  --- grid System

.grid__row {
  @include flex-mobile;
  margin: 1.125em 5px;
  [class="grid__col--12 theme__colors"] {
    background: $col-12;
    @include grid;
  }
  [class="grid__col--6 theme__colors"] {
    background: $col-6;
    @include grid;
    @include media-grid;
  }
  [class="grid__col--4 theme__colors"] {
    background: $col-4;
    @include grid;
    @include media-grid;
  }
  [class="grid__col--3 theme__colors"] {
    background: $col-3;
    @include grid;
    @include media-grid;
  }
  [class="grid__col--5 theme__colors"] {
    background: $col-5;
    @include grid;
    @include media-grid;
  }
  [class="grid__col--7 theme__colors"] {
    background: $col-7;
    @include grid;
    @media (min-width: 769px) {
      text-align: center;
      margin: 1.125em 5px;
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  [class="grid__col--8 theme__colors"] {
    background: $col-8;
    @include grid;
    @media (min-width: 769px) {
      text-align: center;
      margin: 1.125em 5px;
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  [class="grid__col--7 theme__colors centered"] {
    background: $col-7;
    @include grid;
    @media (min-width: 769px) {
      text-align: center;
      margin: 0 20%;
    }
  }
  @include media-q;
}
