// === Grid ===

$col-3: #deb2ee;
$col-4: #7ee6fd;
$col-5: #88d9a0;
$col-6: #3fabca;
$col-7: #ec9fa3;
$col-8: #fd9f85;
$col-12: #80e8d1;

@mixin grid {
  text-align: left;
  border-radius: 5px;
  border-style: none;
  padding: 1em 1em;
  margin: 6px 0;
  font-size: 14px;
  font-weight: 500;
}

@mixin grid-system {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

//  --- grid System

.grid__row {
  border: 1px solid black;
  margin: 1.125em 0;
  [class="grid__col--12 theme__colors"] {
    background: $col-12;
    @include grid;
  }
  [class="grid__col--6 theme__colors"] {
    background: $col-6;
    @include grid;
  }
  [class="grid__col--4 theme__colors"] {
    background: $col-4;
    @include grid;
  }
  [class="grid__col--3 theme__colors"] {
    background: $col-3;
    @include grid;
  }
  [class="grid__col--5 theme__colors"] {
    background: $col-5;
    @include grid;
  }
  [class="grid__col--7 theme__colors"] {
    background: $col-7;
    @include grid;
  }
  [class="grid__col--8 theme__colors"] {
    background: $col-8;
    @include grid;
  }
  [class="grid__col--7 theme__colors centered"] {
    background: $col-7;
    @include grid;
  }
  @media (min-width: 769px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
  }
}

@media (min-width: 769px) {
  [class="grid__col--6 theme__colors"] {
    background: $col-6;
    @include grid;
    @include grid-system;
  }
  [class="grid__col--4 theme__colors"] {
    background: $col-4;
    @include grid;
    @include grid-system;
  }
  [class="grid__col--3 theme__colors"] {
    background: $col-3;
    @include grid;
    @include grid-system;
  }
  [class="grid__col--5 theme__colors"] {
    background: $col-5;
    @include grid;
    @include grid-system;
  }
  [class="grid__col--7 theme__colors"] {
    background: $col-7;
    @include grid;
    @include grid-system;
  }
  [class="grid__col--8 theme__colors"] {
    background: $col-8;
    @include grid;
    @include grid-system;
  }
  [class="grid__col--7 theme__colors centered"] {
    background: $col-7;
    @include grid;
    @include grid-system;
  }
}
