// === Navigation ===
@import "../utilities/index";

// --- navigation ---
.nav {
  a {
    @include flex-mobile;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 1.125em; //18px
    font-family: $times;
  }
  [href="#type"] {
    background-color: $first-multi;
    color: white;
  }
  @include media-q;
}
