// === Navigation ===

$first-multi: #58e1c1;


@mixin flex-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// --- navigation ---
.nav {
  a {
    @include flex-mobile;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 1.125em; //18px
  }
  [href="#type"] {
    background-color: $first-multi;
    color: white;
  }
  @media (min-width: 769px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
  }
}
